@using Admin.Models
@model RoleViewModel

<div class="row" style="padding-top: 5px;">
    <div class="col-2 mdc-label"><b>Hành động:</b></div>
    <div class="col-10">
        @Html.DropDownListFor(s => s.Actions, Model.ListActions, new { multiple = "multiple", id = "actions-select" })
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#actions-select').multiSelect({
            selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Tìm kiếm...'>",
            selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Tìm kiếm...'>",
            afterInit: function(ms){
                var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function(e){
                        if (e.which === 40){
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function(e){
                        if (e.which == 40){
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },

            afterSelect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },

            afterDeselect: function(){
                this.qs1.cache();
                this.qs2.cache();
            }
        });
        $('#actions-select').multiSelect('select', @Html.Raw(Json.Encode(Model.Actions)));
    })
</script>